#header {
  background-color: #E1E2E1;
  min-height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section {
  width: 30%;
}

.downloadCSV {
  display: flex;
  align-items: center;
}
