#header {
  background-color: #E1E2E1;
  min-height: 5em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-section {
  width: 25%;
}

.downloadCSV {
  display: flex;
  align-items: center;
}
