#header {
  background-color: #E1E2E1;
  min-height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section {
  width: 30%;
}

.downloadCSV {
  display: flex;
  align-items: center;
}

.weekDisplay {
  font-size: 22px;
}

.weekDisplay button {
  background-color: transparent;
  border: none;
  cursor:pointer;
  padding:16px 20px;
  font-size: 22px;
  color: #5a7be4;
}