/* Schedule */
.schedule {
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  padding: 0 20px;
  height: 75vh;
}

/* Grid - general */
.grid {
  padding-top: 20px;
  display: grid;
  grid-template-rows:
    [days] auto
    [time-0000] 1fr
    [time-0100] 1fr
    [time-0200] 1fr
    [time-0300] 1fr
    [time-0400] 1fr
    [time-0500] 1fr
    [time-0600] 1fr
    [time-0700] 1fr
    [time-0800] 1fr
    [time-0900] 1fr
    [time-1000] 1fr
    [time-1100] 1fr
    [time-1200] 1fr
    [time-1300] 1fr
    [time-1400] 1fr
    [time-1500] 1fr
    [time-1600] 1fr
    [time-1700] 1fr
    [time-1800] 1fr
    [time-1900] 1fr
    [time-2000] 1fr
    [time-2100] 1fr
    [time-2200] 1fr
    [time-2300] 1fr;
  grid-template-columns:
    [time] 4em
    [sunday] 1fr
    [monday] 1fr
    [tuesday] 1fr
    [wednesday] 1fr
    [thursday] 1fr
    [friday] 1fr
    [saturday] 1fr;
}

/* Grid - columns */
.day-slot {
  display: none; /* only visible with Grid layout */
}

@supports( display:grid ) {
  @media screen and (min-width:700px) {    
    .day-slot {
      grid-row: days;
      display: block;
      position: sticky;
      top: 90px;
      z-index: 1000;
      background-color: rgba(255,255,255,.9);
    }
  }
}

/* Grid: rows */

.time-slot {
  margin-top: 0;
  margin-right: 10px;
}

/* Add Task button & Tooltip */

.add-task {
	background-color:#65d8a4;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:28px;
	padding:10px 16px;
  text-decoration:none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  pointer-events: all;
}
.add-task:hover {
  border:11px solid #d9d9d9;
	background-color:#2ca675;
}

/* #TODO Why does this stop events from firing? */
/* .add-task:active {
	position:relative;
	top:1px;
} */

.add-task span {
  visibility: hidden;
  font-size: 12px;
  width: 120px;
  background-color: rgba(216, 216, 216, 0.25);
  color: rgb(50, 50, 50);
  text-align: center;
  border-radius: 5px;
  padding: 10px 0;
  max-width: 100px;
  
  /* Position of tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -60px;
  margin-bottom: 20px;
}

.add-task:hover span {
  visibility: visible;
}