h1, h2, h3, h4, h5, h6, p {
  font-family: 'Noto Sans', sans-serif;
}

.App {
  text-align: center;
}

#topnav {
  background-color: #5a7be4;
  overflow: hidden;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#topnav p {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}


